body {
  background: url(../images/bg-image.jpeg);
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Main Container */
.cont {
  background-color: white;
}

/* row1 */
.row1 {
  background-color: #a5d6a7;
  width: 40%;
}

/* row2 */
.row2 {
  background-color: #bbdefb;
}

/* row3 */
.row3 {
  height: 8rem;
  width: 40%;
}

.row3 .col1 {
  background-color: #eeeeee;
}
.row3 .col2 {
  background-color: #ffcc80;
}

/* row 4 */
#ruby,
#diamond,
#yellow,
#green {
  height: 6rem;
  width: 6rem;
}

.row4 {
  background-color: #9fa8da;
}

/* row5 */
.row5 {
  width: 40%;
}

.row5 .col1 {
  background-color: #cfd8dc;
}

/* row6 */
.row6 {
  height: 8rem;
  width: 40%;
}

.row6 .col1 {
  background-color: #cfd8dc;
}
